# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
crash.log

# SSH keys
infra/ssh/*.key

# Optional OS files
.DS_Store
Thumbs.db

# Python environment
venv/
.venv/
.env
env/

# key
infra/ssh/nomad-key.pem
